{% load static %}
<div class="hero-drawing" aria-hidden="true">
    <svg class="house-sketch reference-plan" viewBox="0 0 820 640" fill="none" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <clipPath id="reference-plan-reveal">
                <rect class="reference-reveal" x="70" y="75" width="0" height="490"/>
            </clipPath>
            <clipPath id="reference-plan-reveal-2">
                <rect class="reference-reveal" x="70" y="75" width="0" height="490"/>
            </clipPath>
        </defs>
        <g class="residence-scene" clip-path="url(#reference-plan-reveal)">
            <image class="reference-plan-image" href="{% static 'images/hero-plan-3.png' %}" x="70" y="75" width="700" height="490" preserveAspectRatio="xMidYMid meet"/>
        </g>
        <g class="residence-scene" clip-path="url(#reference-plan-reveal-2)" style="display:none">
            <image class="reference-plan-image" href="{% static 'images/hero-plan-4.png' %}" x="35" y="35" width="760" height="570" preserveAspectRatio="xMidYMid meet"/>
        </g>
    </svg>
</div>
